---
import type { Album } from '../../interfaces/album';
import { ButtonPlay } from '../buttons/ButtonPlay';

interface Props {
  album: Album
}

const {album} = Astro.props;

const {cover, name, artist, song, id} = album;

---

<div
  class={`relative card w-[180px] md:w-[200px] lg:w-[220px] py-5 px-5
 bg-neutral-900 rounded-lg hover:bg-neutral-800`}
>
  <a 
    href=`/album/${id}`
    class="z-0 flex flex-col justify-center items-center gap-5"
  >
    <picture>
      <img class="w-full h-full rounded-lg" src={cover} alt="portada album" transition:name={`album-image-${id}`} />
    </picture>
    <div class="flex flex-col items-start w-full h-[70px]">
      <h2 class="text-base lg:text-lg text-white font-circular-bold" transition:name={`albun-name-${id}`}>{name}</h2>
      <h3 class="text-base text-neutral-400 font-circular-light" transition:name={`artist-name-${id}`}>{artist.name}</h3>
    </div>
  </a>
  <ButtonPlay songs={song} albumId={id} client:only="react"/>
</div>


<style>
  button {
    opacity: 0;
    bottom: 0px;
    visibility: hidden;
    transition:
      opacity 0.4s ease,
      bottom 0.4s ease,
      visibility 0s linear 0.4s;
  }

  :hover button {
    opacity: 1;
    bottom: 8px;
    visibility: visible;
    transition:
      opacity 0.4s ease,
      bottom 0.4s ease,
      visibility 0s linear;
  }
</style>
